<!-- Inner Content -->
      <div class="inner-page padd">
        <div class="checkout">
          <div class="container">
          <!-- Heading -->
          <h4 class="text-center">New Recipe</h4>
            <div class="row">
              <div class="col-md-12 col-sm-6">
                <%= render 'form' %>
                <!-- <%= link_to 'Back', recipes_path %> -->
              </div>
            </div>
          </div>
        </div>
      </div>
