
      
      
      <!-- Inner Content -->
      <div class="inner-page padd">
      
        <!-- Components Start -->
        
        <div class="component">
          <div class="container">
            <!-- Components content -->
            
            <div class="component-content">
              <!-- Heading -->
              <h3>About Us</h3>
              <!-- Components -->
              <p>The use of the Internet offers a variety of benefits to everyone who is willing to use it. You can reach the enormous amount of information on the Internet. In the same time, it delivers any service through network and makes life easier. Online service businesses play an important role in the today’s digitally enhanced world. Recipe service is one of the services which is not so many in the market and demanded, and can be useful among people in modern lifestyle.
              Some of the reason why recipe service would be useful:<br>
              • Great number of people cooking<br>
              • Difficulty in deciding what to cook<br>
              • Limited knowledge of cooking<br>
              • Preference of cooking to eating out<br>
              • Trend to healthy eating<br>
              • Lack of recipe service in turkey<br>
              Everyday plenty of people cook and spend at least spend one hour for cooking. They want to find ways to fit their work into as little time as possible so can spend more of their time doing what is most meaningful to them.  So we are proposing a system to provide recipe service which helps users to find what to cook in little amount of time as possible.<br>
              The system , which will be further explained in this project will enable users to browse and research for recipes,  save recipes they find and plan weekly cooking schedule. In addition to that the system will users to save time and effort which usually people waste over deciding what to cook and how to cook. Users will register to the system in the first place and they will be able to search through the recipe database. In order to get right appropriate recipe, users will be able to select the ingredients they have in the system,  and the system will recommend all the possible recipe which user can cook with the ingredient selected. also the information about whether they have all materials or  have missing ingredients in their chosen recipe will be shown. When an user clicks on a selected recipe, it will directs to a website  which contains the recipe. Furthermore the system will place some advertisement and speedyads and benefit financially from it.</p>
            </div>
          </div>
        </div>
        <!-- Components End -->
      </div><!-- / Inner Page Content End -->